# Assignment 5: Draft Prospect Report

## Objective
Using the 2024-2025 D1 Dataset, create a report on a **draft prospect** evaulating their strengths, weaknesses, projected output, and fit with an existing team.

## Instructions
- Choose one player from the 2024-2025 Division 1 Dataset
- Analyse Usage & Efficiency: Include key metrics (USG%, eFG%, TS%, turnover rate, etc.) and write 2–3 sentences interpreting what these numbers tell you about:
  - The player’s offensive role
  - Their scoring effectiveness
  - Context (team style, pace, lineup fit if relevant)
- Pull Key Metrics by Category
- For each bucket below, choose relevant stats from the dataset and include 1–2 sentences of interpretation (what the numbers mean, not just what they are):
  - Shooting (e.g., 3P%, FT%, rim finishing, midrange volume, assisted vs. unassisted shots)
  - Creation (assist rate, turnover rate, pick-and-roll involvement, self-creation indicators)
  - Defense (steal%, block%, foul rate, defensive rebounding, matchup difficulty)
  - Rebounding (ORB%, DRB%, positional comparison if applicable)
- Position Group Comparison: Compare each prospect to peers at the same position (e.g., guards vs. guards). Include 1–2 sentences explaining:
  - Does this prospect stand out? Are they average? Does their skill profile fit their positional archetype?
- Strengths & Weaknesses Summary: Provide a concise final assessment summarising:
  - What this player does well
  - Main concerns or limitations
  - Any quick projection (e.g., role, developmental focus)

### Submission
- Format & Length
  - 1 Page or 2 Slides Maximum
  - Include tables, shot charts, or bullet lists, if useful

### Suggested Structure

**Header: Player Name | Position | College | Class Year**

**Section 1: Usage & Efficiency**

**Section 2: Shooting**

**Section 3: Creation**

**Section 4: Defense**

**Section 5: Rebounding**

**Section 6: Position Group Comparison**

**Section 7: Strengths & Weaknesses Summary**

---

In [2]:
# Import Libraries
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
# Load workbook and gather sheets
data = pd.read_csv("mbb_player_season_2025.csv")

# Create a copy of the data
player_game_data = data

In [4]:
len(data)

9663

In [5]:
player_game_data.head()

,season,athlete_id,player,team,position,games_played,games_started,minutes_total,mpg,pts_total,...,ts_pctile_pos,efg_pctile_pos,ast_pctile_pos,tov_pctile_pos,oreb_pctile_pos,dreb_pctile_pos,fg3_pctile_pos,ft_pctile_pos,threepar_pctile_pos,fta_rate_pctile_pos
0,2025,23574,Marcus Watson Jr.,Jackson St,G,16,5,245,15.312500,59,...,0.030089,0.022668,0.393648,0.932595,0.827410,0.399909,0.026140,0.397957,0.053892,0.637060
1,2025,4067423,Isaiah Jones,Oakland,G,26,23,660,25.384615,176,...,0.476340,0.453161,0.433453,0.631849,0.979203,0.654546,0.287836,0.169839,0.275248,0.902774
2,2025,4290822,Corey Walker Jr.,South Florida,F,10,0,66,6.600000,18,...,0.743051,0.889633,0.000088,0.000051,0.713139,0.718909,0.000016,0.075760,0.244399,0.369491
3,2025,4395619,Wynston Tabbs,Morgan St,G,13,12,338,26.000000,196,...,0.666528,0.484196,0.629941,0.424952,0.428402,0.553178,0.086402,0.964147,0.294563,0.678043
4,2025,4395668,Robby Carmody,Le Moyne,G,24,23,592,24.666667,261,...,0.834730,0.741156,0.249774,0.431727,0.608852,0.101929,0.623802,0.541383,0.639725,0.871280

In [6]:
player_game_data.describe()

,season,athlete_id,games_played,games_started,minutes_total,mpg,pts_total,ppg,pts_per_40,reb_total,...,ts_pctile_pos,efg_pctile_pos,ast_pctile_pos,tov_pctile_pos,oreb_pctile_pos,dreb_pctile_pos,fg3_pctile_pos,ft_pctile_pos,threepar_pctile_pos,fta_rate_pctile_pos
count,9663.0,9.663000e+03,9663.000000,9663.000000,9663.000000,9663.00000,9663.000000,9663.000000,9663.000000,9663.000000,...,9143.000000,9038.000000,9624.000000,9294.000000,9663.000000,9663.000000,7494.000000,6442.000000,9038.000000,9038.000000
mean,2025.0,5.100312e+06,12.637897,6.275070,253.179033,16.03704,91.891028,5.241874,11.704689,39.824899,...,0.410906,0.423013,0.413619,0.517591,0.444667,0.445538,0.391651,0.449890,0.498914,0.433683
std,0.0,2.169533e+05,13.198036,10.676074,339.240985,9.75352,141.381317,4.889885,8.927124,59.394882,...,0.355968,0.358253,0.332136,0.363391,0.342240,0.343228,0.354432,0.343541,0.335586,0.349548
min,2025.0,2.357400e+04,1.000000,0.000000,1.000000,1.00000,0.000000,0.000000,0.000000,0.000000,...,0.000004,0.000004,0.000009,0.000002,0.000020,0.000004,0.000015,0.000025,0.000002,0.000002
25%,2025.0,5.105616e+06,1.000000,0.000000,15.000000,7.40000,3.000000,1.416667,6.349206,2.000000,...,0.052562,0.059350,0.102504,0.128364,0.109702,0.106151,0.054105,0.115960,0.172715,0.098210
50%,2025.0,5.181769e+06,4.000000,1.000000,38.000000,15.80000,13.000000,4.000000,11.452282,6.000000,...,0.332258,0.359830,0.344092,0.554004,0.401474,0.419805,0.282213,0.407635,0.500723,0.360631
75%,2025.0,5.247720e+06,28.000000,7.000000,475.500000,24.00000,140.000000,8.000000,16.000000,65.000000,...,0.742372,0.757831,0.711409,0.882483,0.765168,0.763178,0.717487,0.782727,0.814310,0.772424
max,2025.0,5.268609e+06,40.000000,40.000000,1357.000000,40.00000,759.000000,32.000000,120.000000,413.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
# Filter Players by Players that Played at Least 30 Games
player_game_data = player_game_data[player_game_data["games_played"] >= 30]

# Filter Players by Players that Played as Starters
player_game_data = player_game_data[player_game_data["games_started"] == player_game_data["games_played"]]

# Filter Players by Players that Scored 15+ PPG 
player_game_data = player_game_data[player_game_data["ppg"] >= 15]

In [8]:
player_game_data.describe()

,season,athlete_id,games_played,games_started,minutes_total,mpg,pts_total,ppg,pts_per_40,reb_total,...,ts_pctile_pos,efg_pctile_pos,ast_pctile_pos,tov_pctile_pos,oreb_pctile_pos,dreb_pctile_pos,fg3_pctile_pos,ft_pctile_pos,threepar_pctile_pos,fta_rate_pctile_pos
count,153.0,1.530000e+02,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,...,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000
mean,2025.0,4.878612e+06,32.718954,32.718954,1075.830065,32.893320,565.124183,17.258309,21.066998,169.392157,...,0.665083,0.603463,0.687954,0.386483,0.425570,0.578453,0.566358,0.695694,0.470548,0.593641
std,0.0,2.522147e+05,2.008068,2.008068,102.534705,2.567826,70.685676,1.745627,2.242904,68.432375,...,0.212073,0.231016,0.248506,0.226096,0.269801,0.271208,0.272431,0.231240,0.248723,0.254794
min,2025.0,4.431718e+06,30.000000,30.000000,817.000000,25.531250,455.000000,15.000000,16.652649,73.000000,...,0.071330,0.086586,0.039601,0.008770,0.012824,0.025999,0.000392,0.098104,0.007560,0.088133
25%,2025.0,4.699440e+06,31.000000,31.000000,1008.000000,31.343750,506.000000,15.764706,19.294118,118.000000,...,0.515317,0.437842,0.554127,0.190151,0.207187,0.365490,0.334063,0.563323,0.285214,0.378862
50%,2025.0,4.897210e+06,32.000000,32.000000,1076.000000,33.151515,553.000000,16.781250,20.656716,157.000000,...,0.687688,0.621574,0.742184,0.362696,0.360428,0.607334,0.576812,0.764213,0.492052,0.629223
75%,2025.0,5.107295e+06,34.000000,34.000000,1139.000000,34.516129,608.000000,18.612903,22.728165,199.000000,...,0.829721,0.781037,0.891459,0.565930,0.647903,0.818267,0.800547,0.895115,0.670136,0.819627
max,2025.0,5.243234e+06,40.000000,40.000000,1357.000000,39.911765,759.000000,23.000000,26.681922,403.000000,...,0.995095,0.990048,0.999486,0.884805,0.970735,0.998767,0.970928,0.990761,0.936435,0.996004

In [9]:
len(player_game_data)

153

In [30]:
player_game_data[player_game_data["player"] == "Chaz Lanier"]

,season,athlete_id,player,team,position,games_played,games_started,minutes_total,mpg,pts_total,...,ts_pctile_pos,efg_pctile_pos,ast_pctile_pos,tov_pctile_pos,oreb_pctile_pos,dreb_pctile_pos,fg3_pctile_pos,ft_pctile_pos,threepar_pctile_pos,fta_rate_pctile_pos
636,2025,4700852,Chaz Lanier,Tennessee,G,38,38,1194,31.421053,684,...,0.648992,0.765682,0.166454,0.029311,0.342713,0.669213,0.819711,0.443092,0.695504,0.176567

In [24]:
player_game_data.columns

Index(['season', 'athlete_id', 'player', 'team', 'position', 'games_played',
       'games_started', 'minutes_total', 'mpg', 'pts_total', 'ppg',
       'pts_per_40', 'reb_total', 'rpg', 'reb_per_40', 'oreb_total', 'oreb_pg',
       'oreb_per_40', 'dreb_total', 'dreb_pg', 'dreb_per_40', 'ast_total',
       'apg', 'ast_per_40', 'stl_total', 'spg', 'stl_per_40', 'blk_total',
       'bpg', 'blk_per_40', 'tov_total', 'tovpg', 'tov_per_40', 'fg_pct',
       'fg3_pct', 'threepar', 'ft_pct', 'fta_rate', 'efg_pct', 'ts_pct',
       'usage', 'ast_pct', 'tov_pct', 'oreb_pct', 'dreb_pct',
       'usage_pctile_pos', 'ts_pctile_pos', 'efg_pctile_pos', 'ast_pctile_pos',
       'tov_pctile_pos', 'oreb_pctile_pos', 'dreb_pctile_pos',
       'fg3_pctile_pos', 'ft_pctile_pos', 'threepar_pctile_pos',
       'fta_rate_pctile_pos'],
      dtype='object')

In [28]:
# Create a Dataframe for Player Physicals
headings = ["Player Name", "Position", "Height", "Weight", "School"]
chaz_lanier = ["Chaz Lanier", "Guard", "6'4", "175lb", "Tennesse"]

player_physicals = pd.DataFrame([chaz_lanier], columns=headings)

player_physicals

   Player Name Position Height Weight    School
0  Chaz Lanier    Guard    6'4  175lb  Tennesse